<!-- Footer -->
	<footer class="footer text-center margin">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Location</h4>
			<p class="lead mb-0">DonnyBrook Australia
			  <br></p>
		  </div>
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Follow</h4>
			<ul class="list-inline mb-0">
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-facebook-f"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-google-plus-g"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-twitter"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-linkedin-in"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-dribbble"></i>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h4 class="text-uppercase mb-4">About This Website</h4>
			<p class="lead mb-0">This is a personal portfolio website created by
				<b>Robin Nguyen</b>.</p>
		  </div>
		</div>
	  </div>
	</footer>