{% extends 'mypf/base.html' %}

{% block content %}

        <div class="row justify-content-center margin">
            <div class="pflink">
                <a href="{% url 'portfolio' %}">Check Portfolio</a>
            </div>
        </div>
        <div class="row justify-content-center margin">
            <div class="col-8">
                <img class="img-fluid" name="srcapi" id="srcapi" src="https://belikebill.ga/billgen-API.php?default=1&name=Jane Doe&sex=f">

            </div>
        </div>
    </div>
{% endblock %}