{% load static %}
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'mypf/img/icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="home-brand">Robin Nguyen</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto" id="navid">
                <li class="nav-item" id="nav1">
                    <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="nav2">
                    <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item" id="nav3">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="{% static 'mypf/img/linkedin.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'mypf/img/fb-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="{% static 'mypf/img/twitter-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>