{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profile.png" alt="">
		<h1 class="text-uppercase mb-0">Robin Nguyen</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Network Engineer - Web Developer - Python - Django</h2>
	  </div>
	</header>

	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Portfolio</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 1</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 2</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 3</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 4</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 1</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 2</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 3</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Project 4</h5>
					<p class="card-text">Description for the Project</p>
					<a href="#" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">I'm a Network Engineer and Web Developer working on Python 3.x, Django 2.1 for Web Development and Network Automation. </p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">Also having knowledge of HTML, CSS, Javascript, Ajax, Bootstrap, GIT.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/mypf/files/sample.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}